
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 4</h1>
              <div>
                <p>
                  Danish social security numbers are of the form DDMMYY-XXXX, where XXXX is an arbitrary number, however there is a control mechanism, where only 5,4% of the numbers are valid. How many unique social security numbers can there be?
                </p>
                <ol class="o">
                  <li>approx. 5.500.000</li>
                  <li>approx. 20.000.000</li>
                  <li>approx. 55.000.000</li>
                  <li>approx. 365.000.000</li>
                  <li>approx. 55.000.000.000</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
