
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 8</h1>
              <div>
                <p>
                  A family consisting of a dad, mom and two children has a set of plates that are red, yellow, green, and blue. Each set consists of a large, a medium and a small plate. All twelve plates are used for every meal.
                </p>
                <p>
                  When doing the dishes, the children are dryi<strong class="glitch" data-text="ng">ng</strong> the plates and stacks them, in a single stack, in the cupboard, one at a time as they are dry.
                </p>
                <p>
                  Their mother has a rule, that the plates must be stacked according to size, so that largest plates are in the bottom and the smallest in the top.
                </p>
                <p>
                  Which of the following orders of four plates <strong>cannot</strong> occur, when following their mother’s rules?
                </p>
                <ol class="o">
                  <li>Red, blue, red, blue</li>
                  <li>Big, medium, red, small</li>
                  <li>Medium, blue, red, small </li>
                  <li>Yellow, big, medium, yellow</li>
                  <li>Red, yellow, green, blue</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
