
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 1</h1>
              <div>
                <p>
                  There are approximately 7 billion people in the world today.
                </p>
                <p>
                  Try making a plausible estimation of the size of a person when standing up.
                </p>
                <p>
                  Using your estimate, which is realistically the smallest of these places that will fit the entire world’s population?
                </p>
                <p>                </p>
                <ol class="o">
                  <li>City Square in Copenhagen (29,000 m2)</li>
                  <li>Island of Langeland (284 km2)</li>
                  <li>Island of Bornholm (589 km2)</li>
                  <li>Island of Sjælland (Sealand) (7,000 km2)</li>
                  <li>Iceland (100,000 km2)</li>
                  <li>Greenland (2,000,000 km2)</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
