
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <div>
                <samp>
                <p>
                  Welcome new recruits.
                </p>
                <p>
                  We are looking for highly intelligent and resourceful individuals.
                </p>
                <p>
                  To find them, we have devised a series of tests.
                </p>
                <p>
                  Listen to the instructions. Trust your fellow teammates. Beware of outsiders.
                </p>
                <p>
                  We will be watching.
                </p>
                <p>
                  Good luck.
                </p>
                <p>
                  The Syndicate.
                </p>
                </samp>
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
