
<p>
  <br/>
  <a href="http://peal.io/download/l5vud" (click)="changeText('1')" class="links text-align-left" target="_blank">Access file "{{text1}}"</a>
</p>

<p>
  <br/>
  <a href="http://peal.io/download/98jei" (click)="changeText('2')" class="links text-align-left" target="_blank">Access file "{{text2}}"</a>
</p>

<p>
  <br/>
  <button type="button"
          class="links text-align-left"
          (click)="collapses.toggle();changeText('3')"
          [attr.aria-expanded]="!second"
          aria-controls="collapseExample">
    {{text3}} file "{{text3extra}}.txt"
  </button>
</p>

<div #collapses="ngbCollapse"
     [(ngbCollapse)]="second">
  <div class="card">
    <div class="card-body">
      <p></p>
      I didnt mean it.
      <p></p>
      It was not my fault
      <p></p>
      I didnt mean it.
      <p></p>
      Please come back.
      <p></p>
      I didnt mean it.
      <p></p>
      It was not my fault
      <p></p>
      I didnt mean it.
      <p></p>
      Please come back.
      <p></p>
      I didnt mean it.
      <p></p>
      It was not my fault
      <p></p>
      I didnt mean it.
      <p></p>
      Please come back.
      <p></p>
      Please come back.
      <p></p>
      I am lost without you.
    </div>
  </div>
</div>

<p>
  <br/>
  <button type="button"
          class="links text-align-left"
          (click)="collapsess.toggle();changeText('4')"
          [attr.aria-expanded]="!third"
          aria-controls="collapseExample">
    {{text4}} file "{{text4extra}}.txt"
  </button>
</p>

<div #collapsess="ngbCollapse"
     [(ngbCollapse)]="third">
  <div class="card">
    <div class="card-body">
      <p></p>
      Hey mate.
      <p></p>
      How are you ? Taking a well deserved rest I hope.
      <p></p>
      Its been a few months since you decided to leave me. But it feels like yesterday.
      <p></p>
      I am sorry. I could not save you. I should have never left you alone that day. I should have known. I failed you.
      <p></p>
      And when that day I saw you just ...
      <p></p>
      I still never lost hope in you. You might not be here, but I still believe in you.
      <p></p>
      You might be gone but not forgotten.
      <p></p>
      Your best friend,
      <span class="font-italic-style">- A failure.</span>
    </div>
  </div>
</div>

<p>
  <br/>
  <a href="https://youtu.be/nVPDIEH49KA" class="links text-align-left" target="_blank">Access Recorded Camera Footage</a>
</p>


