
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 2</h1>
              <div>
                <p>
                  A phone salesman are having second thoughts about calling and bothering people with ads.
                </p>
                <p>
                  Every morning he is given 100 phone n<strong class="glitch" data-text="u">u</strong>mbers and according to employer rules, he has to call each person until they buy something, but at most 3 times.
                </p>
                <p>
                  Because of his bad conscience, he only makes a single phone call per person.
                </p>
                <p>
                  If the likelihood of selling something is always 1%, how many calls does he save himself from making?
                </p>
                <ol class="o">
                  <li>approx. 99.</li>
                  <li>approx. 149.</li>
                  <li>approx. 197.</li>
                  <li>approx. 199.</li>
                  <li>approx. 200.</li>
                  <li>approx. 298.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
