
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 6</h1>
              <div>
                <p>
                  You have reached the bonus round in a tv quiz show. Which of the following games should you choose in order to have the largest average price bonus?
                </p>
                <ol class="o">
                  <li>You toss a coin and get 100 kr if tails, or nothing.<strong>x</strong></li>
                  <li>You draw a card from a deck of 52 cards and get 300 kr. if it is hearts, or nothing.</li>
                  <li>You toss 2 coins and get 300 if they land opposite sides up, or nothing.</li>
                  <li>You spin a wheel of fortune, with the numbers from 1 to 13 and get 1000 kr. If it stops on the number you chose in advance, or nothing.</li>
                  <li>You throw a dice and get 700 kr, if it shows 6 or nothing.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
