<p>
  <br/>
  <button type="button"
          class="links text-align-left"
          (click)="collapse.toggle();changeText('1')"
          [attr.aria-expanded]="!first"
          aria-controls="collapseExample">
    {{text1}} Today's customer count
  </button>
</p>
<div #collapse="ngbCollapse"
     [(ngbCollapse)]="first">
  <div class="card">
    <div class="card-body">
      <samp>
        32
      </samp>
    </div>
  </div>
</div>

<p>
  <br/>
  <button type="button"
          class="links text-align-left"
          (click)="collapses.toggle();changeText('2')"
          [attr.aria-expanded]="!second"
          aria-controls="collapseExample">
    {{text2}} Camera Feed
  </button>
</p>

<div #collapses="ngbCollapse"
     [(ngbCollapse)]="second">
  <div class="card">
    <div class="card-body">
      <p></p>
      You thought it would be interesting to check out.
      <p></p>
      You were wrong.
      <p></p>
      Its just static.
      <p></p>
    </div>
  </div>
</div>

<p>
  <br/>
  <button type="button"
          class="links text-align-left"
          (click)="collapsess.toggle();changeText('3')"
          [attr.aria-expanded]="!third"
          aria-controls="collapseExample">
    {{text3}} file "Pwnd.txt"
  </button>
</p>

<div #collapsess="ngbCollapse"
     [(ngbCollapse)]="third">
  <div class="card">
    <div class="card-body">
      Hey 7Eleven IT guys,
      <p></p>
      You just got pwned by The Syndicate.
      <p></p>
      You might reformat your PCs again but you cant unhack your network
      <p></p>
    </div>
  </div>
</div>
