
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade">
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick question-overflow">
              <h1>Question 5</h1>
              <div>
                <p>
                  Space on computers are often measured in the units of kilo, mega, giga and tera, where the size is multiplied by 1024 by each step, that is 1 kilobyte is 1024 bytes and 1 megabyte is 1024 kilobyte.
                </p>
                <p>
                  Some hardware manufacturers are “cheat<strong class="glitch" data-text="i">i</strong>ng” and using 1000 as a multiplier instead of 1024. What is the difference between 1 terabyte, if the manufacturer tries to cheat?
                </p>
                <ol class="o">
                  <li>A. approx. 1%</li>
                  <li>B. approx. 10%</li>
                  <li>C. approx. 100%</li>
                  <li>D. approx. 1000%</li>
                  <li>E. approx. 10.000%</li>
                </ol>
                <app-answer-field [answerArray]="answerArray" [question]="question"></app-answer-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
