
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade"></div>
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 7</h1>
              <div>
                <p>
                  A man has a bus stop outside his house. One of the buses dr<strong class="glitch" data-text="i">i</strong>ves to the pet shop and the other one drives to the computer shop. Both buses always arrive exactly on time, but does not arrive at the same time.
                </p>
                <p>
                  The man visits a shop every day at a random time and just takes the first bus that arrives. (he does this forever)
                </p>
                <p>
                  Which one of the following <strong>cannot</strong> occur?
                </p>
                <ol class="o">
                  <li>A. He arrives more often in the pet shop than the computer shop.</li>
                  <li>B. He arrives more often in the computer shop than the pet shop.</li>
                  <li>C. He arrives an equal amount of times at the pet shop and computer shop.</li>
                  <li>D. He never arrives at the computer store.</li>
                </ol>
                <app-answer-field [answerArray]="answerArray" [question]="question"></app-answer-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
