
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade">
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick" *ngIf="!createdTeam">
              <h2 class="text-center text-uppercase">Create team</h2>
              <form [formGroup]="teamForm" (ngSubmit)="createTeam()" novalidate>

                <div class="field">
                  <input type="text" name="email" class="input small-letters" placeholder="Team name" formControlName="email" />
                  <label for="email" class="label">Team name</label>
                </div>

                <ul *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
                  <li *ngIf="f.email.errors.minlength" class="error-text">  Team name must be at least 5 characters</li>
                  <li *ngIf="f.email.errors.maxlength" class="error-text">  Team name must be no more than 20 characters</li>
                  <li *ngIf="f.email.errors.required" class="error-text">  Team name is required </li>
                </ul>

                <div class="field">
                  <input type="text" name="email" class="input small-letters" formControlName="pwd" placeholder="Secret code"/>
                  <label for="password" class="label">Secret Code</label>
                </div>

                <ul *ngIf="f.pwd.errors && (f.pwd.dirty || f.pwd.touched)">
                  <li *ngIf="f.pwd.errors.minlength" class="error-text">  Secret Code must be at least 5 characters</li>
                  <li *ngIf="f.pwd.errors.maxlength" class="error-text">  Secret Code must be no more than 20 characters</li>
                  <li *ngIf="f.pwd.errors.required" class="error-text">  Secret Code is required
                  </li>
                </ul>

                <input type="submit" [disabled]="!(f.pwd.errors === null && f.email.errors === null)" class="btn btn-info text-white login-button botton-color" value="Create team">
                <div class="field" *ngIf="error">
                  Your Secret code is invalid
                </div>
              </form>
            </div>
            <div class="brick" *ngIf="createdTeam">
              <h2>Welcome {{currentT.name}}</h2>
              <div>
                <p>
                <samp>...generating quote 10% ...</samp>
                </p>
                <p>
                <samp>...generating quote 50% ...</samp>
                </p>
                <p>
                <samp>...generating quote 100% ...</samp>
                </p>
                <p>
                <p>
                  Our machine learning algorithm generated a quote for your team to increase motivation and productivity.
                </p>
                <p>
                  <strong>
                    Generated quote:
                  </strong>
                </p>
                <p>
                {{pickedFraze}}
                </p>
                <p>
                  <strong>
                    Further instruction:
                  </strong>
                </p>
                <p>
                    Click the question mark icon on the navigation bar and insert the location code.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
