
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">
    <div class="container-fluid shade">
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick scrollable">
              <h1>Question Hello there</h1>
              <div>
                <p>
                  So, you found my hints. You must be searching for answers.
                </p>
                <p>
                  I do not have much. But they have a pretty nice track record.
                </p>
                <p>
                  Remember WannaCry? That's the syndicate.
                </p>
                <p>
                  Russian propaganda machine ? That's the syndicate.
                </p>
                <p>
                  Facebook data leak ? That's the syndicate.
                </p>
                <p>
                  Ryanair Flight 4978 ? They hacked Ryanair system and leaked the passanger list to the Belarus government.
                </p>
                <p>
                  I can go on. Just know that they caused a lot of damage. Some lost their lives.
                </p>
                <p>
                  <strong>Why am I here ?</strong>
                </p>
                <p>
                  They are planning something big soon. We need to know what. Before more people die. Before there is no hope left.
                </p>
                <p>
                  I know you have seen them. <strong>You know their names.</strong>
                </p>
                <p>
                  We might have a chance.
                </p>
                <p>
                  You must tell me everything. What are their names? Who is their leader ?
                </p>
                <ol class="o">
                  <li><div class="glitch"  data-text="Danylo, Nedas, Christian, Mike, Oliver, Jeppe" >A. Danylo, Nedas, Christian, Mike, Oliver, Jeppe</div></li>
                  <p></p>
                  <li>B. Leonardo, Raphael, Donatello, Michelangelo, Splinter</li>
                  <p></p>
                  <li>C. Omori, Basil, Aubrey, Kel, Hero, Mari </li>
                  <p></p>
                  <li>D. Kris, Susie, Ralsei, Lancer, Chara, Sans</li>
                  <p></p>
                  <li>E. Dante, DoomSlayer, MasterChief, Gordon Freeman, Isaac, Prophet</li>
                  <p></p>
                  <li>F. Aang, Katara, Zuko, Toph, Sokka, Iroh</li>
                  <p></p>
                </ol>
                <app-answer-field [answerArray]="answerArray" [question]="question"></app-answer-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
