* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  height: 100%;
}

.bold{
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  body {
    overflow: visible;
  }

  .brick{
    margin: 1.5em 0 6.5em;
  }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.shade{
  display: block;
  // position: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container-fluid{
  max-width: none;
}
.brick {
  display: inline-block;
  width: 100%;
  margin: 1.5em 0 1.5em;
  padding: 2em 3em;
  position: relative;
  background-color: rgba(256, 256, 256, 1);
  box-shadow: 1px 1px 10px 1px #9a9a9a
}
.block {
  font-size: 1rem !important;
  margin: .3em;
  padding: 0.375rem 0.75rem;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 100%;
}
.forgot {
  display: block;
  margin: 0 auto 1rem;
  cursor: pointer;
}
.link-signup {
  display: block;
  // margin-top: 1rem
  text-decoration: underline;
}
.app-login{
  height: 100%;
  background: transparent;
  border: none;
}
.error-text{
  font-size: 1.2rem;
  color: #dc3545;
}
.register {
  display: inline-block;
  text-align: left;
  padding-right: 5px;
  width: 1.5em;
}
.help-text{
  font-size: 65%
}
.passwordInput{
  flex-flow: row
}
.eye-design {
  border: 0;
  color: #000 !important;
  transition: none !important ;
}
.eye-design:hover {
  background-color: transparent !important;
  color: #000 !important;
}
.no-borders {
  border-radius: 0;
}
.login-button{
  width: 100%;
  border-radius: 0;
}



form {
  --text-color: #afafaf;
}
.field {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed var(--text-color);
  margin: 1rem auto 2rem;
  transition: 500ms;
}
.label {
  color:var(--text-color);
  font-size: 1.2rem;
}
.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  transition: border 500ms;
}
.input:valid {
  color: black;
}
.input:invalid {
  color: orangered;
}
/* Border animation */
.field::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: rgb(32,194,14);
  transform: scaleX(0);
  transform-origin: 0%;
  opacity: 0;
  transition: all 500ms ease;
  top: 2px;
}

.errored{
  background: orangered !important;
}
.field:focus-within {
  border-color: transparent;
}
.field:focus-within::after {
  transform: scaleX(1);
  opacity: 1;
}
/* Label animation */
.label {
  z-index: -1;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}
.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
  opacity: 1;
}
/* Strength Meter */
.strength {
  display: flex;
  height: 20px;
  width: 100%;
}
.bar {
  margin-right: 5px;
  height: 100%;
  width: 25%;
  transition: box-shadow 500ms;
  box-shadow: inset 0px 20px #1f1f1f;
}
.bar-show {
  box-shadow: none;
}

.bar:last-child {
  margin-right: 0;
}
.strength-text {
  margin-top: 20px;
}

ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  font-size: 0.7rem;
  text-align: left;
}

.toggle-password {
  position: absolute;
  cursor: help;
  font-size: 0.8rem;
  right: 0.25rem;
  bottom: 0.5rem;
}


.small-letters{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.login-formas{
  position: absolute;
  width: 100%;
}

.botton-color{
  background-color: rgb(32,194,14) !important;
  border-color: rgb(32,194,14) !important;
}

ol.o {list-style-type: upper-alpha;}
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_variables";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans-Regular"),
  url("/src/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

:root {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
body {
  color: black;
  background-color: rgba(232, 232, 232, 1);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: rgb(32,194,14);
}

main {
  margin-left: 7rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #4429D3;
}

.fa-secondary {
  color: #3621A8;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    width: 100%;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
  .main-container{
    margin-bottom: 7rem !important;
  }
  .nav-link svg {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 17rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 12.5rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.wrapper{
  margin-top: 3rem;
}
.section-title{
  text-align: center;
  font-size: 36px;
  border-bottom: solid;
  border-width: 3px;
  font-weight: bold;
  color: white;
}

ol.o{
  list-style-type: none !important;
}
