
<div class="login-formas" [ngStyle]="{'top.px': divStyle}">
  <div class="outside">

    <div class="container-fluid shade">
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="row highlight">
          <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="brick">
              <h1>Question 3</h1>
              <div>
                <p>
                  A woman has to find the best pair of shoes to wear for her new dress. She has 113 pairs of shoes.
                </p>
                <p>
                  She takes two pairs of shoes out of the closet at a time, and throws away the least fittin<strong class="glitch" data-text="g">g</strong> for her dress, until there are no more shoes in the closet.
                </p>
                <p>
                  She then repeats this process with the shoes she did not throw away, until she has only one pair left – the best match for her dress.
                </p>
                <p>
                  How many comparisons does she have to make, until she has the best match?
                </p>
                <ol class="o">
                  <li>A. 63</li>
                  <li>B. 92</li>
                  <li>C. 112</li>
                  <li>D. 113</li>
                  <li>E. 223</li>
                  <li>F. 226</li>
                </ol>
                <app-answer-field [answerArray]="answerArray" [question]="question"></app-answer-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
